.invoice-page .app-content {
    margin-left: 0;
}

.invoice-page .app-content .td-action {
    padding: 8px;
}

.invoice-page .app-content .td-action a i {
    font-size: 18px;
    padding: 6px 0;
}

.form-control[readonly]{
    cursor: not-allowed;
    background-color: #fff;
    opacity: 1;
}