<div class="invoice-page">

    <div id="content" class="app-content invoice-page" role="main">
        <div class="app-content-body ">
            <div class="bg-light lter b-b wrapper-md hidden-print">
                <a href="" class="btn btn-sm btn-info pull-right" onclick="window.print();">Print</a>

                <h1 class="m-n font-thin h3">Invoice</h1>
                <toaster-container toaster-options="{'time-out': 3000,
                'position-class': 'toast-top-right','close-button':true}"></toaster-container>
            </div>
            <div class="wrapper-md">
                <div>
                    <div ng-include="'Client/invoice/partials/invoice-info.html'"></div>
                    <div class="line"></div>
                    <button class="btn btn-primary m-b" ng-click="vm.addNewProduct()">
                        <i class="fa fa-plus"></i>
                        Add new product
                    </button>
                    <div ng-include="'Client/invoice/partials/invoice-detail.html'"></div>
                    <button class="btn btn-primary pull-right" ng-disabled="!vm.invoice.InvoiceItems.length" ng-click="vm.saveInvoice()">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>